body {
    background-color: #ecf0f5 !important;
}

.actions-container {
    margin-bottom: 10px;
}

.template-item {
    margin-bottom: 40px;
}

.template-item h4 {
    margin: 0 0 5px 0;
}

.template-panel {
    background-color: #fff;
    border: 1px solid #ddd;
    margin-bottom: 24px;
    min-height: 24px;
    padding: 0;
    position: relative;
}

.template-preview {
    background-color: #fff;
    background-size: 16px 16px;
    background-position: 0 0, 8px 8px;
    height: 300px;
    position: relative;
    overflow: hidden;
}

.template-preview iframe {
    -webkit-transform: scale(.5);
    -moz-transform: scale(.5);
    -ms-transform: scale(.5);
    -o-transform: scale(.5);
    transform: scale(.5);
    -webkit-transform-origin: top left;
    -moz-transform-origin: top left;
    -ms-transform-origin: top left;
    -o-transform-origin: top left;
    transform-origin: top left;
    width: 200%;
}

/* Authentication Styling **/

.min-h-screen {
    min-height: 100vh;
}

.d-flex {
    display: flex;
}

.d-inline-block {
    display: inline-block;
}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.login-body h1 {
    margin: 0;
    padding-bottom: 4rem;
    text-align: center;
    font-weight: 200;
    color: #3c8dbc;
}

.login-container {
    margin: 6rem 0;
    background-color: white;
    padding: 6rem;
    border-radius: .5rem;
    border-top: 3px solid #3c8dbc;
    box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11),
    0 5px 15px 0 rgba(0,0,0,0.08);
}

.login-body {
    width: 100%;
}

.form-check-label
{
    margin-left: .75rem;
    font-weight: 400;
    color: #929ca0;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.form-group {
    margin-bottom: 2rem;
}

/* Theme overrides */

.main-sidebar {
    background-color: #ecf0f5 !important;
    padding-top: 12px;
    padding-left: 24px;
}

.main-sidebar li.active a {
    border: 0;
    background-color: #ecf0f5 !important;
    color: #3c8dbc !important;
}

.skin-blue .wrapper {
    background-color: #ecf0f5;
}

.sidebar-menu > li.header {
    background-color: #ecf0f5 !important;
    color: #929ca0 !important;
    font-weight: bold;
}

.sidebar-menu li a {
    color: #7b8488 !important;
    border: 0 !important;
    padding: 0 0 16px;
}

.sidebar-menu > li > a:hover {
    background-color: #ecf0f5 !important;
    color: #3c8dbc !important;
}

.sidebar-menu i {
    margin-right: 1rem;
}

.sidebar-toggle {
    color: white !important;
    background-color: #3c8dbc !important;
}

.main-footer {
    margin-top: 24px;
}

.callout.callout-danger, .alert.alert-danger {
    background-color: #f5ddda !important;
    color: #c23321 !important;
}

.callout.callout-danger a {
    color: #c23321 !important;
}

.form-group.has-error label {
    color: #c23321;
}

.form-group.has-error .form-control, .form-group.has-error .input-group-addon {
    border-color: #c23321;
}

.main-header {
    background-color: #3c8dbc;
    margin-bottom: 24px;
}

.main-header .logo {
    color: #d3f0f5;
    text-align: left;
}

.box {
    border-top: 2px solid #d2d6de;
}

.content-header {
    padding: 0;
}

.content-header>h1 {
    font-weight: 300;
}

.content-wrapper-inner {
    background-color: #f9f9f9;
    padding: 24px;
    border: 1px solid #eae9e9;
    box-shadow: 0 3px 5px rgba(0,0,0,0.1), 0 3px 3px rgba(0,0,0,0.15);
    border-radius: 3px;
}

.content {
    padding-left: 0;
    padding-right: 0;
}
